<div class="container" style="margin-top: 20px;">
    <div class="row">
        <form action="/admin/login" method="post">
            <div class="mb-3 row">
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputUser" placeholder="Usuario" name="usuario">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña"
                        name="password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="color: black;">Ingresar</button>
        </form>
        {{#if error}}
        <div style="margin-top: 20px">
        </div style="text-align: center;">
        <p class="aviso"> El usuario o contraseña son incorrectos <i class="fa-regular fa-circle-xmark"></i></p>
        {{/if}}
    </div>
</div>
<div style="padding-top: 20px" class="text-center">
    <p>No sos usuario? <a style="color: #2e64a1" href="#!">Registrate</a></p>
</div>