<h2 class="c" id="c">Contacto</h2>
<main class="holdercontacto">
    <div class="contactorapido">
        <h2>Contacto rapido</h2>
        <form action="/contacto" method="post" class="formulario">
            <p>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="text" name="email">
            </p>
            <p>
                <label for="telefono">Telefono</label>
                <input type="text" name="tel">
            </p>
            <p>
                <label for="mensaje">mensaje</label>
                <textarea name="mensaje"></textarea>
            </p>
            <p class="acciones"><input type="submit" value="enviar"></p>
        </form>
        <p>{{message}}</p>
    </div>
    <div class="datos">
        <h2>Otras vias de comunicacion</h2>
        <p class="font">Tambien puede contactarse con nosotros usando los siguientes medios</p>
        <ul class="font" id="li">
            <p><i class="fa-brands fa-whatsapp"></i> Telefono: 6380465</p>
            <p><i class="fa-regular fa-envelope"></i> Email: <a
                    href="mailto:studio_heyho@hotmail.com">studio_heyho@hotmail.com </a></p>
            <p><i class="fa-brands fa-facebook"></i> Facebook: <a
                    href="https://m.facebook.com/Studioheyho/?tsid=0.577974094318914&source=result"
                    target="_blank">https://m.facebook.com/Studioheyho/?tsid=0.577974094318914&source=result</a></p>
            <p><i class="fa-brands fa-instagram"></i> Instagram: <a
                    href="https://www.instagram.com/heyhotattooshop/">https://www.instagram.com/heyhotattooshop/</a></p>
        </ul>
    </div>
</main>