<main>
    <div class="main">
        <h2 class="h2index">Nuestro local</h2>
        <div class="i">
            <div class="i2">
                <div>
                    <img src="images/index.jpg" alt="hhs" class="indeximg">
                </div>
                <div>
                    <img src="images/local1.jpg" alt="hhs" class="indeximg">
                </div>
                <div>
                    <img src="images/local2.jpg" alt="hhs" class="indeximg">
                </div>
                <div>
                    <img src="images/local3.jpg" alt="hhs" class="indeximg">
                </div>
                <div>
                    <img src="images/local4.jpg" alt="hhs" class="indeximg">
                </div>
                <div>
                    <img src="images/local5.jpg" alt="hhs" class="indeximg">
                </div>
            </div>
        </div>
        <div class="columnas">
            <div class="box1">
                <h2>Quienes somos:</h2>
                <p>Somos de la provincia de Santa Cruz, y estamos en la ciudad Rio Gallegos.</p>
            </div>
            <div class="box2">
                <h2 class="de">Nuestra ubicación:</h2>
                <div class="ejemplo1">
                    <span class="relleno1">Av. San Martín y Alberdi, Río Gallegos, Argentina</span>
                </div>
            </div>
        </div>
    </div>
</main>