<h2>Nosotros</h2>
<main class="holder">
    <div>
        <img src="images/index.jpg" alt="hhs" class="hh">
    </div>
    <div class="columnas">
        <!--contenedor-->
        <div class="informacion">
            <!--sección-->
            <h2>Informacion</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium sint, nostrum repellendus
                dolores odio itaque! Eos consequuntur quos nisi debitis consequatur officiis, voluptates
                sapiente
                suscipit iusto reprehenderit eum quidem aut?</p>
        </div>
        <div class="ejemplo">
            <!--sección-->
            <h2>Ejemplo</h2>
            <div class="ejemplo2">
                <span class="relleno1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
                    rerum commodi quos illum vero dolore</span>
                <span class="relleno2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium
                    rerum commodi quos illum vero dolore</span>
            </div>
        </div>
    </div>
</main>