<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HEYHOYSTORE</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/estilos.css">
</head>

<body>
  <header>
    <div class="holder">
      <!--holder(contenedor)clase nueva-->
      <img src="images/header.jpg" alt="hhs">
      <h1>HEY HO STUDIO</h1>
    </div>
  </header>
  <!--estructura principal/cabecera-->
  <nav>
    <!--navegacion trabaja con <ul>y<li>-->
    <ul class="holder">
      <li><a class="{{#if isNosotros}}activo{{/if}}" href="/">NOSOTROS</a></li>
      <li><a class="{{#if isRemeras}}activo{{/if}}" href="/remeras">REMERAS</a></li>
      <li><a class="{{#if isPantalones}}activo{{/if}}" href="/pantalones">PANTALONES</a></li>
      <li><a class="{{#if isZapatillas}}activo{{/if}}" href="/zapatillas">ZAPATILLAS</a></li>
      <li><a class="{{#if isNovedades}}activo{{/if}}" href="/novedades">NOVEDADES</a></li>
      <li><a class="{{#if isContacto}}activo{{/if}}" href="/contacto">CONTACTO</a></li>
    </ul>
  </nav>
  <main class="holder">
    {{{body}}}
  </main>
  <footer>
    <p>diseñado por Boundman</p>
  </footer>
</body>

</html>