<div class="seccionbuzos">
    <h2>Abrigos</h2>
    <div class="buzos">
        <div class="buzo">
            <img src="images/buzo1.jpg" width="150" alt="r1">
            <h5>buzo cuello corto</h5>
            <h6>Namakubi/naranja</h6>
            <p>Valor $5.500</p>
        </div>
        <div class="buzo">
            <img src="images/buzo2.jpg" width="150" alt="r1">
            <h5>Hoodie</h5>
            <h6>Osdi/blanco</h6>
            <p>Valor $12.000</p>
        </div>
        <div class="buzo">
            <img src="images/buzo3.jpg" width="150" alt="r1">
            <h5>Buzo cuello corto</h5>
            <h6>Ryu/amarillo</h6>
            <p>Valor $5.500</p>
        </div>
        <div class="buzo">
            <img src="images/buzo4.jpg" width="150" alt="r1">
            <h5>Hoodie</h5>
            <h6>Osdi/negro</h6>
            <p>Valor $12.000</p>
        </div>
        <div class="buzo">
            <img src="images/buzo5.jpg" width="150" alt="r1">
            <h5>Beisbol</h5>
            <h6>Giant/importado</h6>
            <p>Valor $12.000</p>
        </div>
        <div class="buzo">
            <img src="images/buzo6.jpg" width="150" alt="r1">
            <h5>Beisbol</h5>
            <h6>Angels/importado</h6>
            <p>Valor $12.000</p>
        </div>
    </div>
</div>