<h2>Pantalones</h2>
<div class="fbox">
    <div class="pantalones">
        <img src="images/P1.jpg" width="150" alt="pviejascul">
        <div class="info">
            <h4>Pantalon cargo invocación vieja scul</h4>
            <p>Valor $8000</p>
        </div>
    </div>
    <div class="pantalones">
        <img src="images/P2.jpg" width="150" alt="joggerritual">
        <div class="info">
            <h4>Jogger Rituals Skull and Japan</h4>
            <p>Valor $6100</p>
        </div>
    </div>
    <div class="pantalones">
        <img src="images/P3.jpg" width="150" alt="joggin">
        <div class="info">
            <h4>Jogging Thorns Blanco</h4>
            <p>Valor $6000</p>
        </div>
    </div>
    <div class="pantalones">
        <img src="images/P4.jpg" width="200" alt="chupin">
        <div class="info">
            <h4>Chupin Lakers</h4>
            <p>Valor $5000</p>
        </div>
    </div>
</div>