<h2>Remeras</h2>
<div class="info">
    <h2>Info</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt itaque vel totam reiciendis, harum
        quaerat hic doloremque</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate voluptatem praesentium nesciunt
        veritatis exercitationem </p>
</div>
<div class="seccionremeras">
    <h2>Remeras</h2>
    <div class="remeras">
        <div class="remera">
            <img src="images/remera1.jpg" width="150" alt="r1">
            <h5>Remera algod贸n</h5>
            <h6>Hannya</h6>
            <p>Valor $3000</p>
        </div>
        <div class="remera">
            <img src="images/remera2.jpg" width="150" alt="r1">
            <h5>Remera algod贸n</h5>
            <h6>Rapers</h6>
            <p>Valor $3000</p>
        </div>
        <div class="remera">
            <img src="images/remera3.jpg" width="150" alt="r1">
            <h5>Remera algod贸n</h5>
            <h6>NY</h6>
            <p>Valor $3000</p>
        </div>
        <div class="remera">
            <img src="images/remera4.jpg" width="150" alt="r1">
            <h5>Remera algod贸n</h5>
            <h6>Rose</h6>
            <p>Valor $3000</p>
        </div>
    </div>
</div>