<div class="seccionremeras">
    <h2 class="h2r">Remeras</h2>
    <div class="remeras">
        <div class="remera">
            <img src="images/rem1.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Chicago/blanca</h6>
            <p>$2.999</p>
        </div>
        <div class="remera">
            <img src="images/rem2.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Chicago/roja</h6>
            <p>$2.999</p>
        </div>
        <div class="remera">
            <img src="images/rem3.jpg" width="150" alt="r1">
            <h5>Lakers</h5>
            <h6>Amarilla</h6>
            <p>$2.999</p>
        </div>
        <div class="remera">
            <img src="images/rem4.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Air/negro</h6>
            <p>$2.999</p>
        </div>
        <div class="remera">
            <img src="images/rem5.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Air/blanca</h6>
            <p>$2.999</p>
        </div>
    </div>
</div>