<h2>Zapatillas</h2>
<div class="zapatillas">
    <img src="images/zapatillas1.jpg" alt="">
    <img src="images/zapatillas2.jpg" alt="">
    <img src="images/zapatillas3.jpg" alt="">
    <img src="images/zapatillas4.jpg" alt="">
    <img src="images/zapatillas5.png" alt="">
    <img src="images/zapatillas6.jpg" alt="">
    <img src="images/zapatillas7.jpg" alt="">
</div>