<div class="seccionzapatillas">
    <h2>Zapatillas</h2>
    <div class="zapatillas">
        <div class="zapatilla">
            <img src="images/zapa1.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Air/dama</h6>
            <p>Valor $30.000</p>
        </div>
        <div class="zapatilla">
            <img src="images/zapa2.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Eric Koston</h6>
            <p>Valor $25.000</p>
        </div>
        <div class="zapatilla">
            <img src="images/zapa3.jpg" width="150" alt="r1">
            <h5>Converse</h5>
            <h6>Blanca</h6>
            <p>Valor $13.000</p>
        </div>
        <div class="zapatilla">
            <img src="images/zapa4.jpg" width="150" alt="r1">
            <h5>Vans</h5>
            <h6>Negra</h6>
            <p>Valor $15.000</p>
        </div>
        <div class="zapatilla">
            <img src="images/zapa5.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Dunk</h6>
            <p>Valor $30.000</p>
        </div>
        <div class="zapatilla">
            <img src="images/zapa6.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Air/hombre</h6>
            <p>Valor $30.000</p>
        </div>
        <div class="zapatilla">
            <img src="images/zapa7.jpg" width="150" alt="r1">
            <h5>Nike</h5>
            <h6>Dunk/naranja</h6>
            <p>Valor $30.000</p>
        </div>
        <div class="zapatilla">
            <img src="images/zapa8.jpg" width="150" alt="r1">
            <h5>Jordan</h5>
            <h6>Negra</h6>
            <p>Valor $30.000</p>
        </div>
    </div>
</div>